* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/**
 * Prevent adjustments of font size after orientation changes in IE and iOS.
 */

 html {
  -ms-text-size-adjust: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 1 */
}
/**
 * Set font family to systeem fonts
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'system';
  margin: 0;

}
/**
  * Navbar 
*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.07);
  z-index: 5;
}
.navbar__item {
  display: inline-block;
  margin-right: 20px;
}
.navbar__item a {
  color: #333333;
  text-decoration: none;
}
.navbar__nav {
  display: none;
}
.navbar__menu__inner {
  width: 30px;
  cursor: pointer;
}
.navbar__menu__mobile {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  top: 70px;
  left: 0;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.16);
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.navbar__menu__mobile li {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
.navbar__menu__mobile li a {
  width: auto;
  min-width: 100px;
  text-decoration: none;
  color: black;
}
.navbar__menu__inner > div {
  background-color: black;
  height: 2px;
  margin: 6px 0;
  width: 30px;
}
/*Hide checkbox*/
#show-mobile-menu {
  display: none;
}
/*Show menu when invisible checkbox is checked*/
.navbar__menu input[type=checkbox]:checked ~ .navbar__menu__mobile {
  display: block !important;
}

/* 
  * hero banner 
*/
.herobanner {
  position: relative;
  background-color: #ccc;
  height: 500px;
  margin-top: 58px;
  text-align: center;
}
.herobanner__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px;
  width: 100%;
}
.herobanner__inner__left {
  transform: translateY(115%);
}
.herobanner__inner__right {
  transform: translateY(-100%);
}
.herobanner__inner__left h1 {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}
.herobanner__inner__left button {
  box-shadow: 0px 3px 3px rgba(0,0,0,0.16);
  text-transform: uppercase;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: #0c9fc1;
  color: #ffffff;
  border: none;
}
.herobanner__inner__right img {
  width: 200px;
}
.infosection {
  text-align: center;
}
/* Helpers */
.clearfix {
  clear: both;
}

/* Media Queries */
@media only screen and (min-width:320px) {
  .infosection__inner {
    padding: 40px 20px;
  }
  .infosection__inner img {
    width: 100%;
  }
}
@media only screen and (min-width:768px) {
  .infosection__inner {
    padding: 40px 50px;
  } 
  .infosection__inner img {
    width: 100%;
  }
}
@media only screen and (min-width:1024px) {
  .herobanner {
    height: 600px;
    text-align: inherit;
  }
  .navbar__nav {
    display: block;
  }
  .navbar__menu {
    display: none;
  }
  .herobanner__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 80px;
    width: 100%;
  }
  .herobanner__inner__left {
    width: 50%;
    float: left;
    transform: none;
    margin-top: 50px;
  }
  .herobanner__inner__left h1 {
    margin: 0;
    font-size: 40px;
    line-height: 60px;
  }
  .herobanner__inner__right {
    width: 50%;
    float: left;
    text-align: right;
    transform: none;
  }
  .herobanner__inner__right img {
    width: 400px;
  }
  .infosection__inner {
    padding: 40px 80px;
  }  
  .infosection__inner img {
    width: 300px;
  }
  .infosection__inner__left {
    width: 50%;
    float: left;
  }
  .infosection__inner__left > div {
    padding: 0 50px;
  }
  .infosection__inner__right {
    width: 50%;
    float: left;
  }
  .infosection__inner__right > div {
    padding: 0 50px;
  }
}